body {
    background-color: #fff;
    font-family: "Righteous", cursive;
}
/*Header*/
h1 {
    width: 100%;
    text-align: center;
    font-size: 230%;
}

#grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 600px;
    height: 450px;
    margin: 0 auto;
    perspective: 1000px;
}
.game-card {
    height: 150px;
    width: 150px;
    position: relative;
    margin: 5px;
    transform-style: preserve-3d;
    transform: scale(1);
    transition: transform .5s;
}
.game-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
.game-card.flip {
    transform: rotateY(180deg);
}
.card-front, .card-back {
    height: 100%;
    width: 100%;
    position: absolute;
}
